body{
    background-color: black;
    color: white;
}

h1, h4{
    text-align: center;
}

.grid-container{
    display:grid;
    grid-template: auto auto auto / auto auto auto;
    width: 65%;
    margin: auto;
    grid-column-gap: 10px;
}

.grid-item:nth-child(1), .grid-item:nth-child(2), .grid-item:nth-child(3){
    grid-column-start: 1;
    grid-column-end: 4;
}

#clock{
    border: 1px solid white;
    background-color: black;
    color: white;
    text-align: center;
}

button{
    cursor: pointer;
    border: 1px solid white;
    background-color: black;
    color: white;
}